.pictures{
    list-style: none;
    top: 100px;
    margin: auto;
}

.roundabout-holder{
      height: 300px;
      width: 400px;
      left:50px;
   }
   
.roundabout-moveable-item {
      height:200px;
      width: 200px;
      cursor: pointer;
   }
   